.vertical-align {
  position: relative;
  top: 50%;
  margin-top: -15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#app, .container, html, body {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#connection-page {
  max-width: 75%;
  margin: 0 auto;
  .vertical-align();

  //.child.segment {
  //  background: rgb(255,228,124,1);
  //  background: -moz-linear-gradient(45deg,  rgba(255,228,124,1) 0%, rgba(255,138,124,1) 48%, rgba(124,148,255,1) 100%);
  //  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,228,124,1)), color-stop(48%,rgba(255,138,124,1)), color-stop(100%,rgba(124,148,255,1)));
  //  background: -webkit-linear-gradient(45deg,  rgba(255,228,124,1) 0%,rgba(255,138,124,1) 48%,rgba(124,148,255,1) 100%);
  //  background: -o-linear-gradient(45deg,  rgba(255,228,124,1) 0%,rgba(255,138,124,1) 48%,rgba(124,148,255,1) 100%);
  //  background: -ms-linear-gradient(45deg,  rgba(255,228,124,1) 0%,rgba(255,138,124,1) 48%,rgba(124,148,255,1) 100%);
  //  background: linear-gradient(45deg,  rgba(255,228,124,1) 0%,rgba(255,138,124,1) 48%,rgba(124,148,255,1) 100%);
  //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e153a', endColorstr='#f3c9d7',GradientType=1 );
  //}
}
