#chat {
  position: fixed;
  left: 260px;
  right: 300px;
  top: 42px;
  bottom: 0;
  padding: 5px;
}

@media all and (max-width: 1350px) {
  #chat {
    right: 200px;
  }
}

@media all and (max-width: 1000px) {
  #chat {
    right: 150px;
  }
}
