.child {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

body{
    background-color: #ecf0f1;
    /*background-image: url("https://hd.unsplash.com/photo-1468779065891-103dac4a7c48");*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
}