#chat {
  .comment {
    clear: both;

    .videos {
      .video {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        > span {
          display: block;
        }

        iframe {
          max-width: 100%;
        }
      }
    }
  }
}
