#navbar{
  top: 0;
  right: 0;
  z-index: 5;
  margin-left: 260px;
  left: 0;
  position: fixed;
  background-color: white;

  .ui.attached.menu:not(.tabular){
    border: 0;
    border-bottom: 1px solid lightgrey;
  }

  .ui.label.navbar-label {
    min-height: 1.5em;
    padding: 1px 0 0 !important;
  }

  #notifications-menu{
    //width: 200px;
  }

  #notifications-menu > .item{
    //width: 200px;
  }

  #notifications-menu > .item .message-content{
    overflow-wrap: break-word;
    overflow: hidden;
  }

  #notifications-menu > .item .username {
    display: inline-block;
  }

  #notifications-menu > .item p.header {
    word-wrap: break-word
  }
  @media all and (min-width: 800px) {
    .toggle-button{
      display: none;
    }

    .visible-small-navbar{
      display: none;
    }

    top: 0;
    right: 0;
    z-index: 10;
    margin-left: 260px;
    left: 0;
    position: fixed;
    background-color: white;

    .ui.attached.menu:not(.tabular){
      border: 0;
      border-bottom: 1px solid lightgrey;
    }
  }
  @media all and (max-width: 800px) {
    .visible-big-navbar{
      display: none;
    }

    margin-left: 0;
  }
}
